html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
p {
  color: darkgoldenrod;
  text-align: center;
}

.box,
.bottom {
  width: 150px;
  height: 150px;
  margin: 50px auto;
  background-color: lightgreen;
  transition: all 4s ease-out;
}

.box:hover {
  border-radius: 50%;
}

.bottom {
  transform: translateY(200px);
  border-radius: 50%;
}
