html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}

h1 {
  text-align: center;
}

input {
  display: block;
  width: 13rem;
  height: 4rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

.magenta {
  color: magenta;
}

.blue {
  color: blue;
}
